* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: rgb(244, 242, 242);
}

input {
  outline: none;
}

.container {
  width: 60%;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 150px;
}

.container ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  border: 1px solid rgb(221, 217, 217);
  border-top: none;
}

#task {
  display: grid;
  grid-template-columns: 0.5fr 11fr 0.5fr;
  color: black;
}

#input-task {
  padding: 0 16px;
}

#btn {
  padding: 0;
  background-color: rgb(244, 242, 242);
  justify-content: center;
}

#btn-clear {
  border: none;
  color: rgb(151, 150, 150);
  background-color: rgb(244, 242, 242);
  padding: 16px;
}

#btn-enter {
  background-color: #fff;
  border: none;
}

#description {
  width: 100%;
  border: none;
  padding: 12px 16px;
  font-style: italic;
  outline: none;
  background: url("../assets/images/enter.png") no-repeat right;
  color: #000;
}

#title span {
  width: 100%;
  background: url("../assets/images/update.png") no-repeat right;
  padding-right: 16px;
}

#menu-dots {
  justify-self: end;
}

